
:root{
    --color-principal: #030f2e;
    --color-secundario: #12c10d;
    --color-terciario: #d15b18;
    --padding-1: 0.5rem;
    --padding-2: 1rem;
    --paddig-3: 1.5rem;
    --box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    --tipografia: Georgia, 'Times New Roman', Times, serif;
    --tipografia2: Verdana 'Times New Roman', Times, serif;
}