@import url('base.css');

/*
--color-principal: #030f2e;
    --color-secundario: #12c10d;
    --color-terciario: #d15b18;
    --padding-1: 0.5rem;
    --padding-2: 1rem;
    --paddig-3: 1.5rem;
    --box-shadow: 0 0 5px black;
*/


body , html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipografia);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-sup{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    
    width: 200px;
    height: 150px;
    border-radius: 75%;
    overflow: hidden;
    
}
.logo >a > img{
    width: 100%;
    height: 400px;
    transform: translateY(-8rem);
    object-fit:contain;
}
.slogan{
    position: absolute;
    width: auto;
    top: 50%;
    left: 22rem;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
    font-family: hidden;
    color: var(--color-terciario);
    
}
.header-in{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}
.header-in>a{
    color: white;
    width: 25%;
    height: 4rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

@media screen and (max-width:1076px) {
    .header-in{
        flex-wrap: wrap;
    }
    .header-in>a{
        width: 45%;
    }
}

@media screen and (max-width:780px) {
    .slogan{
       display: none;
    }
}

a{
    text-decoration: none;
}
.header-in>a:nth-child(2n){
   background-color: var(--color-terciario);
}
.header-in>a:nth-child(2n-1){
    background-color: var(--color-secundario);
}
.header-in>a:last-child{
    position: relative;
}

.header-in>a:last-child::before{
content: "";
width: 4rem;
height: 100%;
background-color: var(--color-terciario);
position: absolute;
transform: rotate(45deg) scale(0.8);
top: 0;
right: -2rem;
z-index: -10;
}
.redes{
    display: inline-flex;
    gap: 0.5rem;
}
.redes  img{
    width: 50px;
    height: 50px;
}
@media screen and (max-width:480px) {
    .redes img{
        width: 35px;
        height: 35px;
    }
}
.main{
    flex-grow: 1;
}

.banner{
    width: 90%;
    margin: auto;
}

.transmicion{
width: 80%;
margin: auto;
margin-top: 1rem;
}
.transmicion > div{
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.transmicion > div> h2{
    text-align: center;
    color: var(--color-terciario);
    width: auto;
    padding: var(--padding-1);
    font-size: 1.8rem;
}
.transmicion >div> h2 > span{
    color: var(--color-secundario);
}
.reproductor{
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario));
    box-shadow: var(--box-shadow);
}

.reproductor > video{
    width: 95%;
    height: 95%;
    display: block;
}
.banner{
    height: 75vh;
    background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}
.capa{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.info h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}
.info a{
	color: #fff;
	text-decoration: none;
	background: var(--color-terciario);
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}

.audio{
    width: 100%;
    height: 20%;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 0.5rem;
}
.reproductor>img{
    width: 100%;
    height: 75%;
    object-fit: contain;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.audio > audio{
    width: inherit;
    height: 2rem;

}
.audio-title{
    color: var(--color-principal);
    font-weight: bold;
    font-size: 1.5rem;
}



.noticias{
    width: 80%;
    margin: 3rem auto 2rem auto;
    min-height: 50vh;
}

.noticias>h2{
    margin-bottom: 3rem;
    text-align: center;
    color: #ffffffff;
    padding: var(--padding-1);
    font-size: 1.8rem;
    width: 100%;
    height: 10vh;
    line-height:10vh;
    background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario));
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-weight: bold;
    justify-content:center;

}

.noticias > article{
    display: grid;
    grid-template-columns: 
     250px
     1fr;
    grid-template-rows: 
     50px 
     200px 
     1fr
    ;
    grid-template-areas: "imge titles"
                         "imge par"
                         ". par";
    gap: 0.5rem;
    height: auto;
    margin-bottom: 2rem;
    border: 1.5px solid var(--color-principal);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    padding: var(--padding-2);
}



.noticias>article> img{
    width: 100%;
    height: 250px;
    display: block;
    background-color: white;
    /* grid-column: columna1;
    grid-row: fila1/fila2; */
    grid-area: imge;
}

.noticias > article> h2{
    /* grid-column: fila2/fin-columna;
    grid-row: fila1; */
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 50px;
    overflow: auto;
    background-color: var(--color-terciario);
    grid-area: titles;
    margin: 0;
    padding: 0;
    border-radius:1rem;
    text-align: center;
    line-height:50px;
    color:white;
}
.noticias > article > div> p{
    background-color: white;
    margin: 0;
    padding: 0;
    margin-top: -1.5rem;
    text-align: justify;
    letter-spacing: 0.025rem;
    font-size: 18px;
    padding: var(--paddig-3);
    font-family: var(--tipografia2);
    
}
.noticias > article > div> p:first-child{
    margin-top: 0;

}

.noticias > article > div{
    width: 100%;
    grid-area: par;
}
@media screen and (max-width:1050px) {
    .noticias{
        width: 98%;
    }
    .noticias > h2{
        width: 90%;
    }
    .noticias > article{
        grid-template-areas: "titles titles"
                         "imge imge"
                         "par par";
    }
}
.footer{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}
.footer-sup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10rem;
    align-items: center;
}

.footer-sup > div.uno{
    width: 25rem;
    text-align: justify;
}
.footer-sup img{
    width: 50px;
    height: 50px;
}
.nav-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.redes-sociales{
    display: flex;

}
.footer-inf{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    background-color: var(--color-secundario);
    height:5rem;
    line-height:5rem;
}
.nav-footer > div >a{
    color: black;
}
@media screen and (max-width:480px) {
    .header-in{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header-in>a{
        width: 80%;
    }
    .logo >a > img {
        width: 120px;
    }
    
    .footer-sup{
        flex-direction: column;
        height: auto;
        gap: 1rem;
        
    }
    .footer-sup > div.uno{
        width: 92%;
    }
    .nav-footer{
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .noticias > article> h2{
        font-size: 1.1rem;
    }
    .footer-inf{
        height: auto;
    }
}
.cuadrado-ul{
    width: auto;
    height: 4rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;

}
.cuadrado-ul> a{
    color: white;
}
.cuadrado{
    line-height:4rem;
}

.formulario{
    width: 60%;
    margin: 2rem auto;
    min-height: 15rem;
}
.formulario > form{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: inherit;
    padding: var(--padding-1);
    background-image: linear-gradient(45deg , var(--color-secundario),var(--color-terciario));
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}
.formulario > form >label{
    font-size: 1.5rem;}
.formulario > form > input{
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
 }

.formulario > form > button{
    background-color: var(--color-terciario);
    padding: var(--padding-2);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.formulario> form > textarea{
    width: 90%;
    min-height: 20rem;
}
/* Estilos para formulario de ingresar noticias */
.formulario1{
    width: 60%;
    margin: 2rem auto;
    height: 60rem;
}

.formulario1 > form{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    padding: var(--padding-2);
    background-image: linear-gradient(45deg , var(--color-secundario),var(--color-terciario));
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}

.formulario1 > form >label{
    font-size: 1.5rem;
}
.formulario1 > form > input{
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
 }
 .formulario1 > form >textarea{
    width: 80%;
    height: 40%;
    border-radius: 1rem;
 }

.formulario1 > form > button{
    background-color: var(--color-terciario);
    padding: var(--padding-2);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1rem;
}

/* Estilos para el menu de quienes somos */
/* Estilos para el lateral*/
aside#lateral{
    float: right;
    width: 25%;
    margin-top: 10px;
}
.secundario{
    padding: 15px;
    background-image: linear-gradient(45deg , var(--color-secundario),var(--color-terciario));
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.secundario ul {
    list-style: none;
    padding: 10px;
}
article#main-principal>h1{
    text-align: center;
    text-align: center;
    color: #ffffffff;
    padding: var(--padding-1);
    font-size: 1.8rem;
    width: 100%;
    height: 10vh;
    line-height:10vh;
    background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario));
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-weight: bold;
    justify-content:center;

}    
article#main-principal>p{
   text-align: justify;
   padding: 10px;  
    font-size: 18px;
    width: 100%;
    height: 20%;
    line-height:5vh;
    background-color: white;
    box-shadow: var(--box-shadow);  
}    
.secundario>p{
    text-align: justify;
}
.secundario ul li  {
    padding: 10px;
}
article#main-principal>img{
    width: 100%;
    height: 45%;
    display: block;
    background-color: white;
    grid-area: imge;
}
#main{
    width: 80%;
    margin: auto;
}
/*estilos para el main principal*/
article#main-principal{
    float: left;
    width: 65%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    
} 

/* Estilos para el menu de quienes somos-porque elegirnos */
.contenedor1{
    width: 100%;
    margin-top:5rem;
    height: auto;
    clear: both;
    margin-top: 20px;
    transition-property: all;
}
.contenedor1>h3{
    text-align: center;
    color: #ffffffff;
    padding: var(--padding-1);
    font-size: 1.8rem;
    width: 100%;
    height: 10vh;
    line-height:10vh;
    background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario));
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-weight: bold;
    justify-content:center;

}

.caja{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}
.caja img{
    width: 290px;
    height: 290px;
    border-radius: 1rem;
}

.caja p{
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    /* background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario)); */
    background-color: var(--color-terciario);
    color: #fff;
    font-size: 18px;
    text-align: justify;
}
 
/* Estilos para el menu de Programadores */
.contenedor2{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

@media screen and (max-width:1180px) {
    .caja {
        float: none;
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:1028px) {
    article#main-principal{
        float:none;
        width: 90%;

    }
    aside#lateral{
        float: none;
        width: 100%;
    }
}
.contenedor2>article{
    
    width: 15rem;
    background-color: white;
    border-bottom:5px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
}
.contenedor2>article>h2{
    text-align: center;
    font-size: 1.4rem;
}
.contenedor2>article>section>div{
    text-align: center;
}
.transmicion>h2{
    text-align: center;
    color: #ffffffff;
    padding: var(--padding-1);
    font-size: 1.8rem;
    width: 100%;
    height: 10vh;
    line-height:10vh;
    background-image: linear-gradient(45deg , var(--color-terciario),var(--color-secundario));
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    font-weight: bold;
    justify-content:center;
}
.transmicion>h3{
    text-align: center;
    color: #ffffffff;
    padding: var(--padding-1);
    font-size: 1.8rem;
    width: 100%;
    height: 10vh;
    line-height:10vh;
    background-color: var(--color-terciario);
    border-radius: 5rem;
    font-weight: bold;
    justify-content:center;
}

.list-noticias{
    width: 50%;
    margin: auto;
}

.list-noticias > blockquote{
    display: flex;
    flex-direction: row;
    height: 5rem;
    padding: var(--padding-1);
    justify-content: space-between;
    background-image: linear-gradient(45deg,var(--color-secundario),var(--color-terciario));
    border-radius: 2rem;
    align-items: center;
    color: white;
    font-weight: bold;
}
.list-noticias > blockquote> div{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-1);
    margin-right: 1rem;
}
.list-noticias button{
    border-radius: 0.5rem;
    background-color: var(--color-terciario);
    color: white;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 8rem;
    
}
.list-noticias a{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline solid var(--color-secundario);
}

.servicios-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    align-items: center;
    border-radius: 1rem ;
}
.item-servicios{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    height: 3rem;
    
}
.imagenes-servicios{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);

}
/* estilo para redimensionar las imagenes de servicios */
.imagenes-servicios img{
    
    width: 45%;
    height: 600px;

}

.servicios-items h3, p{
    text-align: center;
}

.servicios-items > section{
    box-shadow: var(--box-shadow);
    padding: var(--padding-1);
    width: 100%;
}
.servicios-descr{
    padding: var(--padding-2);
}
.servicios-descr >div> h3{
    background-color:var(--color-terciario);
   
    color: white;
    font-weight: bold;
    height: 4rem;
    line-height: 4rem;
    border-radius: 1rem;
    overflow: auto;
}
.servicios-descr > div > p{
    box-shadow: var(--box-shadow);
    min-height: 5rem;
    padding: var(--padding-2);
    text-align: justify;
}
.servicios-descr > div >div{
    box-shadow: var(--box-shadow);
    min-height: 3rem;
    padding: var(--padding-2);
    text-align: center;
}
.item-servicios > span{
    box-shadow: var(--box-shadow);
    padding: var(--padding-2);
    background-color: var(--color-secundario);
    color: white;
}
.servicos > h2{
    background-image: linear-gradient(45deg,var(--color-secundario),var(--color-terciario));
    width: 80%;
    margin: 2rem auto 2rem;
    border-radius: 1rem;
    text-align: center;
    padding: var(--padding-2);
    color: white;
}
.redes1>li{
list-style: none;
display: inline-flex;
flex-direction: row;
justify-content: space-evenly;
margin-bottom:0.8rem;
align-items: center;
}
.redes1 img{
    width: 45px;
    height:45px;
    margin-right: 10px;
}
.mapa{
    width: 100%;
    height: 75vh;
}
.mapa>iframe{
    width: 100%;
    height: inherit;
}
.conten-map{
    clear: both;
}

/* Estilos para formulario de contactos */

.formularioc{
    width: 90%;
    margin: 2rem auto;
    min-height: 15rem;
}
.formularioc > form{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: inherit;
    padding: var(--padding-1);
    background-image: linear-gradient(45deg , var(--color-secundario),var(--color-terciario));
    box-shadow: var(--box-shadow);
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}
.formularioc > form >label{
    font-size: 1.5rem;}
.formularioc > form > input{
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
 }

.formularioc > form > button{
    background-color: var(--color-terciario);
    padding: var(--padding-2);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.formularioc> form > textarea{
    width: 90%;
    min-height: 10rem;
}
.block{
    display: block;
}
.block > table{
    width: 100%;
    border-collapse: collapse;
}

.block > table > thead th{
    border: 1px solid var(--color-terciario);
    min-width: 18.5%;
    height: 4rem;
    padding: var(--padding-1);
}

.block > table > tbody td{
    border: 1px solid var(--color-secundario);
    width: 18.5%;
    min-height: 4rem;
    padding: var(--padding-1);
}

.admin a{
    font-size: 1rem;
}
.error{
    width: 100%;
    background-color: var(--color-terciario);
    color: white;
    margin: auto;
    padding: var(--padding-1);
    text-align: center;
    margin-bottom: 1rem;
}
.correcto{
    width: 100%;
    background-color: rgba(0, 0, 255,0.5);
    color: white;
    margin: auto;
    padding: var(--padding-2);
    text-align: center;
    margin-bottom: 1rem;
}


.ancho{
    width: 25%;
}
.imagenes-galeria{
width: 100%;
border-collapse: collapse;
margin-top: 1rem;
display: inline-flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 1rem;
margin-top: 2rem;
box-shadow: var(--box-shadow);
flex-wrap: wrap;
padding: var(--padding-2);
border-radius:2rem;
}
.imagenes-galeria > img{
    width: 40%;
    height:500px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

textarea{
    font-family:var(--tipografia2);
}

@media screen and (max-width:800px) {
    .imagenes-galeria > img{
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
    }
    /* article#main-principal>p{

    } */
    .secundario{
        width: 90%;
    }
    .reproductor > h2 .transmicion>h2{
        font-size: 1.1rem;
    }
    
    .transmicion > h2{
        font-size: 1.1rem;
        overflow: auto;
    }
    .transmicion>h3{
        font-size: 1.1rem;
        overflow: auto;
        
    }
    article#main-principal>img{
        width: 98%;
        margin: auto;
    }
    article#main-principal>h1{
        font-size: 0.9rem;
        overflow: auto;
        padding: 0;
    }
    
}
@media screen and (max-width:480px) {
    .audio-title{
        font-size: 1.1rem;
    }
    .reproductor{
        height: 60vh;
    }
    .contenedor1>h3{
        font-size: 1.1rem;
    }
    .imagenes-galeria{
        width: 90%;
    }
    .footer-inf{
        font-size: 1rem;
    }
}

@media screen and (max-width:800px) {
    .imagenes-servicios{
        flex-direction: column;
    }
    .imagenes-servicios>img{
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
    }
}

button{
    cursor: pointer;
}





