@import url("base.css");

.banner {
    animation: banner 15s infinite linear alternate;
}

@keyframes banner{
	0%, 20%{
		background-image: url("/public/asset/img/baner5.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	25%, 45%{
		background-image: url("/public/asset/img/baner2.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	50%, 70%{
		background-image: url("/public/asset/img/baner3.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	75%, 100%{
		background-image: url("/public/asset/img/baner5.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
}

