@import url("base.css");

.banner {
    animation: banner 15s infinite linear alternate;
}

@keyframes banner{
	0%, 20%{
		background-image: url("/public/asset/img/baner5.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	25%, 45%{
		background-image: url("/public/asset/img/baner2.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	50%, 70%{
		background-image: url("/public/asset/img/baner3.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
	75%, 100%{
		background-image: url("/public/asset/img/quienes somos.jpg");
        background-repeat: no-repeat;
        object-fit:contain;
	}
}
.transmicion > div> h2{
	animation: traslado 10s infinite linear;
}
.header-in>a:hover{
	background-color: var(--color-principal);
	transform: scale(1.1);
}
.header-in>a:hover{
	background-color: var(--color-principal);
	transform: scale(1.1);
}
.header-in>a:last-child:hover::before{
	background-color: var(--color-principal);
}
@keyframes traslado {
	0%{
		transform: translateX(-45rem) scale(0.9);
	}
	25%{
		transform: translateX(-10rem) scale(1.1);
	}
	50%{
		transform: translateX(5rem) scale(0.9);
	}
	75%{
		transform: translateX(25rem) scale(1.1);
	}
	100%{
		transform: translateX(55rem)scale(0.9);
	}
}



.nav-footer>div>a:hover{
	color: var(--color-terciario);


}